# Dependencies
node_modules/

# Next.js
.next/
out/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Legacy archive
esimplu_global/

# Prisma
prisma/migrations/**/migration_lock.toml

/lib/generated/prisma
settings.local.json
.claude/